* {
    margin: 0;
    box-sizing: border-box;
}


.wrapper {
    max-width: 100%;
    max-height: 753px;
    position: relative;
}

.display-hidden {
    visibility: hidden;
}

.banner-top {
    min-width: 100%;
    height: 753px;
}

.side-bar {
    width: 100%;
    position: absolute;
    top: 0;
    transition: all ease-in-out 1s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.danh-muc {
    width: 40%;
    padding: 40px 0px 40px 10px;
    display: flex;
    flex-direction: column;
    height: 753px;

}

.danh-muc ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.danh-muc ul li {
    list-style-type: none;
}

.danh-muc ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    top: 0;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 18px;

    line-height: 30px;
}


.border-right {
    border-right: 0.5px solid #ffff;
}

.bg-white {
    background-color: #ffff;
}

.text-black {
    color: #000;
}

.text-gray {
    color: gray;
}

.logo-header {
    width: 170px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header img {
    width: 140px;
    height: 140px;
    object-fit: contain;

}

.form-search {
    border-bottom: 1px solid #fff;
    height: 35px;
    width: 350px;
}

.input-search {

    border: none;
    background-color: transparent;

}


.input-search::placeholder {
    color: #fff;
    font-size: 24px;

}

.input-search:focus {
    outline: none;
}

.form-search i {
    color: #fff;
    font-size: 24px;
}

.search-favourite-cart {
    display: flex;
    flex-direction: row;
    padding-top: 40px;

}

.search-favourite-cart a i {
    color: #fff;
    font-size: 24px;
    padding-top: 10px;

}

#type-tshirt {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    align-content: space-between;

}

#type-tshirt>li {
    padding-bottom: 20px;

}

ul .login-and-signin {
    margin-top: 300px;
}

.login-and-signin i {
    padding-left: 18px;
    font-size: 24px;
}

.login-and-signin li {
    padding-bottom: 0px;
}

.header-popup {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    background-color: #fff;
}

.header-popup ul li {
    list-style-type: none;

}

.menu-popup {
    display: flex;
    padding-top: 30px;
    gap: 20px;
    padding-left: 0px;
}

.header-popup ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.search-favourite-cart-popup {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    margin-left: 340px;

}

.search-favourite-cart-popup a i {
    color: #000;
    font-size: 18px;
    padding-top: 15px;

}

.logo-header-popup {
    width: 120px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-header-popup img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    filter: brightness(0);

}

.input-search-popup {
    border: none;
    background-color: transparent;

}


.input-search-popup::placeholder {
    color: #000;
    font-size: 18px;

}

.input-search-popup:focus {
    outline: none;
}

.form-search-popup i {
    color: #000;
    font-size: 24px;
}

.form-search-popup {
    border-bottom: 1px solid #000;
    height: 35px;
    width: 350px;
}

.type-tshirt-popup {
    background: #fff;
    width: 700px;
    height: 300px;
    display: flex;
    position: absolute;
    top: 190px;
    left: 120px;
}

.type-tshirt-popup ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 10px;
}

.type-tshirt-popup ul li {
    list-style-type: none;
}

.type-tshirt-popup ul li a {
    text-decoration: none;
    color: #666666;
    font-size: 16px;
    font-weight: 700;
}

.img-type-tshirt-popup {
    object-fit: contain;
}

.img-type-tshirt-popup img {
    width: 158px;
    object-fit: contain;
}


.type-tshirt-popup>.img-type-tshirt-popup {
    display: flex;
    flex-direction: row;
}

.border-bottom-menu-popup {
    border-bottom: 2px solid black;
}